In [1]:
import pandas as pd

In [2]:
# Reading the file
df = pd.read_csv('./resourses/dictionary.txt', encoding='unicode_escape', sep="\n", header=None, names=['words'])

# # # another working method
# df = pd.read_fwf('./resourses/dictionary.txt', encoding='unicode_escape', sep="\n", delimiter="\n", header=None, names=['words'])

df.head()

      words
0         a
1        aa
2       aaa
3    aachen
4  aardvark

In [3]:
df.tail()

         words
84094  zymurgy
84095    clat
84096     lan
84097  migrs
84098   poque

In [4]:
# df shape
df.shape

(84099, 1)

In [43]:
df.dtypes

words    object
dtype: object

In [5]:
# df indecies
df.index

RangeIndex(start=0, stop=84099, step=1)

In [6]:
# information about numerical columns
df.describe()

        words
count   84097
unique  84097
top         a
freq        1

- all words are unique, and 2 dublicates

In [7]:
# number of unique rows
df.words.nunique()

84097

In [8]:
# count of words
df.words.count()

84097

- there are 84097 out of 84099 words are not nan values, i.e there are 2 null values

In [9]:
# number of null values in each column
df.isna().sum()

words    2
dtype: int64

- there are 2 null values

In [20]:
# the dublicated values
df[df.duplicated()]

      words
50019   NaN

In [27]:
# the dublicated values and it's original
df[df.duplicated(keep=False)]

      words
48753   NaN
50019   NaN

In [36]:
# drop the null values
# df.drop(df[df.words.isna()].index, axis=0, inplace=True)
# df.drop_duplicates(subset="words", inplace=True) # this line will not do the job as it will leave one null and drop the other nulls
df.dropna(axis=0, inplace=True, how='all')

In [41]:
# after deleting the 2 null words, number of rows reduced by 2
df.shape

(84097, 1)

In [42]:
# general info about columns of the data in our hand
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84097 entries, 0 to 84098
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   words   84097 non-null  object
dtypes: object(1)
memory usage: 1.3+ MB

In [ ]:
class spellChecker():
    ''' this class make 3 main operations:-
        1- (store_dict) Store this dictionary in a suitable data structure 
        2- Take an input word and return the nearest 4 words if this word is not in the dictionary
        3- Take an input word and add this word to the dictionary
        '''
    def init(self, file='./resourses/dictionary.txt'):
        self.file = file
        self.sored_file = store_dict(self.file)
        
    
    def store_dict(self.file):
        '''method to store the given dictionary'''
        
        return sored_file
    
    def nearest_4_words(self.sored_file):
        '''this method is to return the nearest words if this word is not in the dictionary
           Note:- the nearest 4 words from a word are the 2 words before and after this word 
           in lexicographic order if they exist'''
        
        pass
    
    def add_word(self.sored_file)
        '''this method is to add a word into the dictionary'''
        
        # firstly check if the word is already exists
        pass